
header {
	margin-left: -10px;
	margin-top: -23px;
	background: black;
	height: 150px;
	width: 1400px;
}

h1 {
	color: orange;
	padding: 50px 0px 40px 50px;
	
}

h2 {
	
	color: orange;
	margin-top: 50px;
	margin-left: 40px;
	float: left;
}

.comb0 {

	margin-left: -10px;
	margin-top: 0px;
 	
}
.comb1 {
	margin-left: -12.6px;
	margin-top: 0px;
}
.comb2 {

	margin-left: -13.6px;
	margin-top: 0px;s
}
.comb3 {

	margin-left: -12.6px;
	margin-top: 0px;
}
.comb4 {

	margin-left: -13.6px;
	margin-top: 0px;
}
.comb5 {

	margin-left: -12.6px;
	margin-top: 0px;
}
.comb6 {

	margin-left: -12.6px;
	margin-top: 0px;
}
.comb7 {

	margin-left: -13.6px;
	margin-top: 0px;
}
.comb8 {

	margin-left: -13.6px;
	margin-top: 0px;
}
.comb9 {

	margin-left: -13.6px;
	margin-top: 0px;
}
.comb10 {

	margin-left: -12.6px;
	margin-top: 0px;
	
}
.comb11 {

	margin-left: -12.6px;
	margin-top: 0px;

}
.comb12 {

	margin-left: -12.6px;
	margin-top: 0px;
	
}
.comb13 {

	margin-left: -12.6px;
	margin-top: 0px;
	
}
.comb14 {

	margin-left: -12.6px;
	margin-top: 0px;

}
.comb15 {

	margin-left: -12.6px;
	margin-top: 0px;

}
.comb16 {

	margin-left: -12.6px;
	margin-top: 0px;

}
.comb17 {

	margin-left: -12.6px;
	margin-top: 0px;
	
}
.comb18 {

	margin-left: -82px;
	margin-top: 0px;
	
}

.letter {

	margin: 0 auto;
 	display: inline;
 	font-size: 1.5em;
 	padding: 5px;
 	
	cursor: pointer;	
}

img {

	margin-left: 0px;
	margin-top: 90px;
	max-width: 250px;
	max-height: 250px;
}


.cat {

	margin-left: 200px;
	margin-bottom: 50px;
	float: right;
	margin-right: 500px;
	visibility: hidden;
}

.dog {
	margin-left: 200px;
	margin-bottom: 50px;
	float: right;
	margin-right: 500px;
	visibility: hidden;

}

.underscore1,
.underscore2,
.underscore3 {

	display: inline-block;
	color: solid black;
	position: absolute;
	bottom: 0;
	font-size: 24px;
	visibility: hidden;
}

.underscore1 {
	left: 640px;
}
.underscore2 {
	left: 740px;
}
.underscore3 {
	left: 840px;
}

/*
div {

	background: orange;
	margin-left: -10px;
	margin-top: 200px;
	height: 20px;
	width: 1400px;
}
*/
h3 {
	color: orange;
	float: right;
	margin-right: 60px;
	margin-top: 60px;
}
.start-button {

	position: absolute;
	bottom: 0;
	font-size: 200px;
	left: 300px;

}

.next-button {

	position: absolute;
	bottom: 0;
	font-size: 200px;
	right: 300px;

}
footer {
    margin-left: -10px;
	margin-top: 400px;
	background: black;
	height: 150px;
	width: 1400px;
	
}
