
header {

	
	margin-left: -10px;
	margin-top: -23px;
	background: black;
	height: 120px;
	width: 1600px;
}

h1 {
	color: orange;
	padding: 40px 0px 40px 50px;
}

ul {

	font-family: 'Passion One', cursive;
	background: orange;
	margin-top: 0px;
	margin-left: -10px;
	height: 50px;
	width: 1400px;
	padding: 30px 5px 5px 40px;
	font-size: 30px;
	
}

li, .letter {

	cursor: pointer;	
	margin-left: 30px;
	display: inline;
}

img {

	margin-left: 0px;
	margin-top: 90px;
	max-width: 250px;
	max-height: 250px;
}


.cat {
	
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
    display: none;
}

.dog {

	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
    display: none;
	
}

.duck {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;

}
.bear {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;

}
.pig {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;

}

.underscore1,
.underscore2,
.underscore3,
.underscore4 {

	display: inline-block;
	color: solid black;
	position: absolute;
	margin-top: 360px;
	font-size: 24px;
	visibility: hidden;
}

.underscore1 {
	left: 610px;
}
.underscore2 {
	left: 710px;
}
.underscore3 {
	left: 810px;
}
.underscore4 {
	left: 910px;
}


.start-button {

	position: absolute;
	margin-top: 375px;
	font-size: 200px;
	left: 300px;

}

.next-button {

	position: absolute;
	margin-top: 375px;
	font-size: 200px;
	right: 300px;
}

h2 {
	
	color: orange;
	margin-top: 50px;
	margin-left: 50px;
	float: left;
}


h3 {

	color: orange;
	float: right;
	margin-right: 300px;
	margin-top: 58px;
}

footer {
    margin-left: -10px;
	margin-top: 480px;
	background: black;
	height: 120px;
	width: 1600px;
	
}



@media only screen and (max-width: 400px) {

header {

	margin-left: -10px;
	margin-top: -23px;
	background: black;
	height: 50px;
	width: 400px;
}
}



@media only screen and (max-width: 400px) {

h1 {
	font-size: 25px;
	color: orange;
	padding: 40px 0px 0px 120px;
}
}


@media only screen and (max-width: 400px) {

 ul {

  	font-family: 'Passion One', serif;
	background: orange;
	margin-top: 0px;
	margin-left: -10px;
	height: 80px;
	width: 405px;
	padding: 15px 0px 0px 2px;
}
}

@media only screen and (max-width: 400px) {

li, .letter {

	cursor: pointer;
	display: inline;
	margin-left: 9.4px;
}
}

@media only screen and (max-width: 400px) {

img {

	margin-right: 4000px;
	margin-top: 90px;
	max-width: 250px;
	max-height: 250px;
}
}

@media only screen and (max-width: 400px) {

.cat {
	
	margin-right: 200px;
	margin-bottom: -0px;
	margin-right: 530px;
	float: right;
	display: none;
}

@media only screen and (max-width: 400px) {

.dog {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;

}

@media only screen and (max-width: 400px) {

.duck {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;

}
}

@media only screen and (max-width: 400px) {

.bear {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;
}
}

@media only screen and (max-width: 400px) {

.pig {
	margin-left: 200px;
	margin-bottom: -0px;
	float: right;
	margin-right: 530px;
	display: none;
}
}

@media only screen and (max-width: 400px) {

.underscore1,
.underscore2,
.underscore3,
.underscore4 {

	display: inline-block;
	color: solid black;
	
	margin-bottom: 50px;
	font-size: 24px;
	visibility: hidden;
}
}


@media only screen and (max-width: 400px) {

.underscore1 {
	left: 200px;
}
}
@media only screen and (max-width: 400px) {
.underscore2 {
	left: 250px;
}
}
@media only screen and (max-width: 400px) {
.underscore3 {
	left: 300px;
}
}
@media only screen and (max-width: 400px) {
.underscore4 {
	left: 350px;
}
}


@media only screen and (max-width: 400px) {

.start-button {

	 margin-top: 375px;
	 left: 60px;
}
}

@media only screen and (max-width: 400px) {

.next-button {

	margin-top: 375px;
	right: 60px;
}
}


@media only screen and (max-width: 400px) {

h3 {
	
	
	color: orange;
	margin-left: -75%;
	margin-top: 57px;
}
}













